@mixin btn-base {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    transition: 0.2s ease;
}

@mixin btn-sm-modify {
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
}

$color-main: #0052FC;
$color-footer: #f4f8fe;

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: solid 1px $color-main;
    &:hover {
        background-color: white;
        color: $color-main;
    }
    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: #000;
    background-color: transparent;
    border: none;
    &:hover {
        color: #888;
    }
    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu {
    margin-bottom: 0;
    padding: 0;
    li {
        font-size: 1rem;
        font-weight: 500;
        list-style: none;
        display: inline;
        margin-right: 2rem;
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                padding-bottom: 1.1rem;
                border-bottom: 0.3rem solid $color-main;
            }
        }
    }
}

.icon-sm {
    i {
        font-size: 1.25rem;
        padding: 0.4rem 0.65rem;
        border-radius: 100%;
        color: $color-main;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.218) ;
    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        font-size: 5rem;
        color: $color-main;
        padding: 1rem;
        text-align: center;
    }
    .title {
        margin-top: -1rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600
    }
}